{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>States</h2>
<form action="{% url 'oslayer:city_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if city_list %}
    <table>
    {% for city in city_list %}
    	<tr>
    		<td>
    			<ul>
    				<li><a href="{% url 'oslayer:city_edit' city.id %}">{{ city.name }}</a></li>
    			</ul>
    		</td>
    		<td>
    			<ul class="list-unstyled">
    				<li>
    					<form action="{% url 'oslayer:city_delete' city.id %}" method="get">
							<input type="submit" value="Delete" />
						</form>
    				</li>
    			</ul>
    		</td>
    	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cities are available.</p>
{% endif %}
