{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>Countries</h2>
<form action="{% url 'oslayer:country_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if country_list %}
    <table>
    {% for country in country_list %}
    	<tr>
	    	<td>
		    	<ul>
			        <li><a href="{% url 'oslayer:country_edit' country.id %}">{{ country.name }}</a></li>
		        </ul>
	        </td>
	        <td>
	        	<ul class="list-unstyled">
		        	<li>
			        	<form action="{% url 'oslayer:country_delete' country.id %}" method="get">
							<input type="submit" value="Delete" />
						</form>
		        	</li>
	        	</ul>
	        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No countries are available.</p>
{% endif %}
