{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>Groups</h2>
<form action="{% url 'oslayer:group_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if group_list %}
    <ul>
    {% for group in group_list %}
        <li><a href="{% url 'oslayer:group_edit' group.id %}">{{ group.name }}</a>
        - <a href="{% url 'oslayer:group_delete' group.id %}">delete</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No groups are available.</p>
{% endif %}
