{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>Groups</h2>
<form action="{% url 'oslayer:group_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if group_list %}
    <table>
    {% for group in group_list %}
    	<tr>
    		<td>
				<ul>
    				<li><a href="{% url 'oslayer:group_edit' group.id %}">{{ group.name }}</a></li>
				</ul>
    		</td>
    		<td>
    			<ul class="list-unstyled">
	    			<li>
	    				<form action="{% url 'oslayer:group_delete' group.id %}" method="get">
							<input type="submit" value="Delete" />
						</form>
	    			</li>
    			</ul>
    		</td>
    	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No groups are available.</p>
{% endif %}
