{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>Open Source Storage</h2>
<ul>
	<li><a href="{% url 'oslayer:project_list' %}">projects</a></li>
	<li><a href="{% url 'oslayer:user_list' %}">users</a></li>
	<li><a href="{% url 'oslayer:domain_list' %}">domains</a></li>
	<li><a href="{% url 'oslayer:company_list' %}">companies</a></li>
	<li><a href="{% url 'oslayer:group_list' %}">groups</a></li>
	<li><a href="{% url 'oslayer:country_list' %}">countries</a></li>
	<li><a href="{% url 'oslayer:state_list' %}">states</a></li>
	<li><a href="{% url 'oslayer:city_list' %}">cities</a></li>
</ul>
