{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>States</h2>
<form action="{% url 'oslayer:state_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if state_list %}
	<table>
    {% for state in state_list %}
    	<tr>
    		<td>
    			<ul>
    				<li><a href="{% url 'oslayer:state_edit' state.id %}">{{ state.name }}</a></li>
    			</ul>
    		</td>
    		<td>
    			<ul class="list-unstyled">
    				<li>
    					<form action="{% url 'oslayer:state_delete' state.id %}" method="get">
							<input type="submit" value="Delete" />
						</form>
    				</li>
    			</ul>
    		</td>
    	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No states are available.</p>
{% endif %}
