{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oslayer/style.css' %}" />
<h2>States</h2>
<form action="{% url 'oslayer:state_add' %}" method="get">
	<input type="submit" value="Add" />
</form>

{% if state_list %}
    <ul>
    {% for state in state_list %}
        <li><a href="{% url 'oslayer:state_edit' state.id %}">{{ state.name }}</a>
            - <a href="{% url 'oslayer:state_delete' state.id %}">delete</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No states are available.</p>
{% endif %}
